.transferPage{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.transferContainer{
    width: 100%;
    height: calc(100vh - 80px);
    max-width: 1440px;
    display: flex;
    
    align-items: center;
    flex-direction: column;
}

.tranferWraper{
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 245, 245);
    margin-top: 10px;
    border-radius: 20px;
    z-index: 100;
}

.transferStyleInput{
    width: 350px;
    height: 45px;
    display: flex;
    background-color: #F0F0F0;
    margin-top: 20px;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgb(127, 125, 125);
}

.transferSubmit{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textErrorMsg{
    color: tomato;
}